<h4>Baja de Personal</h4>
<p-toast></p-toast>
<div class="card">
    <p-fieldset legend="Personal tipo: {{ usrBaja.tipo }}">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;">¡Atención! Estas a punto de dar de baja al siguiente miembro del personal</h6>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Nombre:</strong>
                <p>{{ usrBaja.nombre }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Apellido Paterno:</strong>
                <p>{{ usrBaja.apellidoP }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Apellido Materno:</strong>
                <p>{{ usrBaja.apellidoM }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Correo Electronico:</strong>
                <p>{{ usrBaja.email }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Telefono Fijo:</strong>
                <p>{{ usrBaja.telFijo }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Telefono Celular:</strong>
                <p>{{ usrBaja.telCelular }}</p>
            </div>
            <br>
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;"> Esta acción es irreversible</h6>
                <p style="color: black;">Si está seguro presione aceptar</p>
            </div>
            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Aceptar" (click)="darBaja()" class="p-button-success mt-4"></button>
            </div>
            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Cancelar" (click)="redireccionaMenu()" class="p-button-danger mt-4"></button>
            </div>
        </div>
    </p-fieldset>
</div>