<h4>Registrar Usuario</h4>
<div class="card">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label>Nombre de Usuario</label>
            <input type="text" pInputText>  
        </div>
        <div class="field col-12 md:col-6">
            <label>Contraseña</label>
            <p-password [toggleMask]="true"></p-password>
        </div>
        <div class="field col-12 md:col-6">
            <label>Nombre</label>
            <input type="text" pInputText>  
        </div>
        <div class="field col-12 md:col-6">
            <label>Apellido paterno</label>
            <input type="text" pInputText>  
        </div>
        <div class="field col-12 md:col-6">
            <label>Apellido materno</label>
            <input type="text" pInputText>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Fecha de nacimiento</label>
            <p-calendar [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
        </div>
         <div class="field col-12 md:col-6">
            <label >Email</label>
            <input type="text" pInputText> 
        </div>
        <div class="field col-12 md:col-6">
            <label >Telefono Celular</label>
            <p-inputNumber  [min]="0" [max]="100"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label >Telefono de Fijo</label>
            <p-inputNumber  [min]="0" [max]="100"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label>Tipo</label>
            <input type="text" pInputText>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Cancelar" class="p-button-danger mt-4"></button>
            <button pButton pRipple type="button" label="Agregar" class="p-button-success mt-4"></button>
        </div>
    </div>
</div>