<h4>Historial de consultas</h4>

<div class="card">

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <ng-container>
                <button pButton pRipple type="button" label="Regresar" (click)="redireccionaMenu()"
                    class="p-button-success p-mr-2"></button>
            </ng-container>
        </ng-template>
        <ng-template pTemplate="right">
            <ng-container>
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="tp.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..." />
                </div>
            </ng-container>
        </ng-template>
    </p-toolbar>

    <br>
    <br>
    <br>
    <!-- Para la implementación de patrones de Comportamiento se decidió utilizar el iterator
    que ofrece el framework de Angular para listar los elementos contenidos en el arreglo en tablas -->
    <p-table #tp [value]="consultas" responsiveLayout="scroll"
        [globalFilterFields]="['fecha','sintomas','peso','temperatura','frecuanciaCardiaca','estatura','descripcionAnalisisMedico','diagnostico','tratamiento','paciente','medico']">
        <ng-template pTemplate="header">
            <tr>
                <th field="id">id</th>
                <th field="fecha">Fecha</th>
                <th field="sintomas">Sintomas</th>
                <th field="peso">Peso</th>
                <th field="temperatura">Temperatura</th>
                <th field="frecuanciaCardiaca">Frecuancia Cardiaca</th>
                <th field="estatura">Estatura</th>
                <th field="descripcionAnalisisMedico">Descripcion Analisis</th>
                <th field="diagnostico"> Diagnostico </th>
                <th field="tratamiento"> Tratamiento</th>
                <th field="paciente">Paciente</th>
                <th field="medico">Medico</th>
                <th>Ver Registro</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paciente>
            <tr>
                <td>{{paciente.id}}</td>
                <td>{{paciente.fecha| date: 'dd/MM/yy'}}</td>
                <td>{{paciente.sintomas}}</td>
                <td>{{paciente.peso}}</td>
                <td>{{paciente.temperatura}}</td>
                <td>{{paciente.frecuanciaCardiaca}}</td>
                <td>{{paciente.estatura}}</td>
                <td>{{paciente.descripcionAnalisisMedico}}</td>
                <td>{{paciente.diagnostico}}</td>
                <td>{{paciente.tratamiento}}</td>
                <td>{{paciente.paciente}}</td>
                <td>{{paciente.medico}}</td>
                <td><button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success"
                        (click)="verRegistro(paciente)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="modal1">

    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12 text-center">
            <h6 style="color: rgb(0, 0, 0);">Historial de la consulta</h6>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Id Consulta:</strong>
            <p>{{id}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Fecha de Consulta:</strong>
            <p>{{fecha}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Paciente:</strong>
            <p>{{pacientes}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Peso:</strong>
            <p>{{peso}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Estatura:</strong>
            <p>{{estatura}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Frecuencia Cardiaca:</strong>
            <p>{{frecuanciaCardiaca}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Temperatura:</strong>
            <p>{{temperatura}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Sintomas:</strong>
            <p>{{sintomas}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Medico:</strong>
            <p>{{medico}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Analisis Practicados:</strong>
            <p>{{descripcionAnalisisMedico}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Diagnostico:</strong>
            <p>{{diagnostico}}</p>
        </div>
        <div class="field col-4 md:col-4 text-center">
            <strong>Tratamiento:</strong>
            <p>{{tratamiento}}</p>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Imprimir" class="p-button-success mt-4" (click)="imprimirRecibo()"></button>
        <button pButton pRipple type="button" label="Cerrar" class="p-button-danger mt-4" (click)="cerrar()" ></button>
    </ng-template>
</p-dialog>