<h4>Citas</h4>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <ng-container>
                <button pButton pRipple type="button" label="Agendar cita" class="p-button-success p-mr-2" (click)="Agregar()"></button>
            </ng-container>
        </ng-template>
        <ng-template  pTemplate="right">
            <ng-container>
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="tc.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </div>
            </ng-container>
        </ng-template>
    </p-toolbar>
    <br><br><br>
    <!-- Para la implementación de patrones de Comportamiento se decidió utilizar el iterator
    que ofrece el framework de Angular para listar los elementos contenidos en el arreglo en tablas --->
    <p-table [value]="citas" responsiveLayout="scroll" #tc [globalFilterFields]="['id','fechaRegistro','nombrePaciente','fechaAtencion', 'horaAtencon', 'observaciones', 'status' ,'medico']" >
        <ng-template pTemplate="header">
            <tr>
                <th  field="id" >ID</th>
                <th  field="fechaRegistro">Fecha de registro</th>
                <th  field="nombrePaciente">Nombre del paciente</th>
                <th  field="fechaAtencion">Fecha de atención</th>
                <th  field="horaAtencon">Hora de atención</th>
                <th  field="observaciones">Observaciones</th>
                <th  field="status">Esatus</th>
                <th  field="medico">Medico</th>
                <th>Cancelar</th>
                <ng-template [ngIf]="esMedico">
                    <th>Atender</th>       
                </ng-template>
                <th>Recibo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.fechaRegistro | date: 'dd/MM/yy'}}</td>
                <td>{{product.nombrePaciente}}</td>
                <td>{{product.fechaAtencion | date: 'dd/MM/yy'}}</td>
                <td>{{product.horaAtencon}}</td>
                <td>{{product.observaciones}}</td>
                <td>{{product.status}}</td>
                <td>{{product.medico}}</td>
                <td>
                    <ng-template [ngIf]="estaPendiente(product.status)" [ngIfElse]="other">
                        <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="cancel(product.id)"></button>
                    </ng-template>
                    <ng-template #other>
                        <button pButton pRipple disabled icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
                    </ng-template>
                </td>
                <ng-template [ngIf]="esMedico">
                    <td>
                        <ng-template [ngIf]="estaPendiente(product.status)" [ngIfElse]="otherMedico">
                            <button pButton pRipple icon="pi pi-pencil" (click)="atender(product.id)" class="p-button-rounded p-button-success"></button>
                        </ng-template>
                        <ng-template #otherMedico>
                            <button pButton pRipple disabled icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
                        </ng-template>
                    </td>      
                </ng-template>
                <td>
                    <button pButton pRipple [disabled]="product.status !== 'Atendida'" icon="pi pi-money-bill" class="p-button-rounded p-button-warning" (click)="recibo(product.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>