<div class="card">
    <p-fieldset legend="Generar recibo">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 text-center">
                <h6>Generar recibo</h6>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Id cita:</strong>
                <p>1</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de registro:</strong>
                <p>15/04/22</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Nombre del paciente:</strong>
                <p>Adolfo</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de atención:</strong>
                <p>15/04/22</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Hora de atencion:</strong>
                <p>10:00 pm</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Medico:</strong>
                <p>Medico</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Monto de consulta:</strong>
                <p>$ 100 MXN</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                
            </div>
            <br>

            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Aceptar" class="p-button-success mt-4"></button>
            </div>
            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Cancelar"  class="p-button-danger mt-4"></button>
            </div>
        </div>
       

    </p-fieldset>

</div>