<h4 class="ml-5 mt-5">Agregar Cita</h4>

<br>
<br>
<br>

<div class="card ml-5 mr-5">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="icon">Fecha</label>
            <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Hora</label>
            <p-calendar [(ngModel)]="date2" [timeOnly]="true" [hourFormat]="12" inputId="timeonly"></p-calendar>
        </div>
        <div class="field col-12 md:col-3">
            <label htmlFor="state">Paciente</label>
            <p-dropdown [options]="pacintes" optionLabel="nombre" [(ngModel)]="selectedPaciente"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Registrar Paciente" class="p-button-success mt-4"></button>
        </div>
        <div class="field col-12 md:col-6">
            <label for="icon">Fecha de Atencion</label>
            <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Hora de Atencion</label>
            <p-calendar [(ngModel)]="date4" [timeOnly]="true" [hourFormat]="12" inputId="timeonly"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="lastname2">Observaciones</label>
            <textarea rows="1" cols="30" pInputTextarea></textarea>
        </div>
        <div class="field col-12">
            <label htmlFor="address">Medico</label>
            <p-dropdown [options]="dropdownItems" optionLabel="nombre" [(ngModel)]="selectedMeed"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Cancelar" class="p-button-danger mt-4"></button>
        </div>
        <div class="field col-12 md:col-3">
            
            <button pButton pRipple type="button" label="Agregar" class="p-button-success mt-4"></button>
        </div>
    </div>
</div>