<h4>Agregar Cita</h4>

<div class="card">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="icon">Fecha</label>
            <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Hora</label>
            <p-calendar [(ngModel)]="date2" [timeOnly]="true" [hourFormat]="12" inputId="timeonly"></p-calendar>
        </div>
        <div class="field col-12 md:col-3">
            <label htmlFor="state">Paciente</label>
            <p-dropdown [options]="pacintes" optionLabel="nombre" [(ngModel)]="selectedPaciente"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Registrar Paciente" (click)="openRegisterPaciente()"
                class="p-button-success mt-4"></button>
        </div>
        <div class="field col-12 md:col-6">
            <label for="icon">Fecha de Atencion</label>
            <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Hora de Atencion</label>
            <p-calendar [(ngModel)]="date4" [timeOnly]="true" [hourFormat]="12" inputId="timeonly"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="lastname2">Observaciones</label>
            <textarea rows="1" cols="30" pInputTextarea></textarea>
        </div>
        <div class="field col-12">
            <label htmlFor="address">Medico</label>
            <p-dropdown [options]="dropdownItems" optionLabel="nombre" [(ngModel)]="selectedMeed"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Cancelar" (click)="cancelarCita()"
                class="p-button-danger mt-4"></button>
        </div>
        <div class="field col-12 md:col-3">
            <button pButton pRipple type="button" label="Agregar" class="p-button-success mt-4"></button>
        </div>
    </div>
</div>

<p-dialog [(visible)]="formPaciente" [style]="{width: '80vw'}">
    <ng-template pTemplate="header">
        <h4>Registro de paciente</h4>
    </ng-template>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
            <label>Nombre del paciente</label>
            <input type="text" pInputText [(ngModel)]="nombre">  
        </div>
        <div class="field col-12 md:col-6">
            <label>Apellido paterno</label>
            <input type="text" pInputText>  
        </div>
        <div class="field col-12 md:col-6">
            <label>Apellido materno</label>
            <input type="text" pInputText>
        </div>
        <div class="field col-12 md:col-6">
            <label>Sexo</label>
            <div *ngFor="let category of categories" class="p-field-checkbox">
                <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"></p-radioButton>
                <label [for]="category.key">{{category.name}}</label>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="timeonly">Fecha de nacimiento</label>
            <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label>Tipo de sangre</label>
            <input type="text" pInputText>
        </div>
        <div class="field col-12 md:col-12">
            <label>Alergias</label>
            <textarea rows="1" cols="30" pInputTextarea></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label >Telefono de contacto</label>
            <p-inputNumber  [min]="0" [max]="100"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label >Email</label>
            <input type="text" pInputText> 
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-danger mt-4"></button>
        <button pButton pRipple type="button" label="Agregar" class="p-button-success mt-4"></button>
    </ng-template>
</p-dialog>