<h4>Personal</h4>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <ng-container>
                <button pButton pRipple type="button" label="Registrar Medico" class="p-button-success p-mr-2" (click)="agregarUsuario(1)"></button>
                &nbsp;
                <button pButton pRipple type="button" label="Registrar Recepcionista" class="p-button-success p-mr-2" (click)="agregarUsuario(0)"></button>
            </ng-container>
        </ng-template>
        <ng-template  pTemplate="right">
            <ng-container>
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="tu.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </div>
            </ng-container>
        </ng-template>
    </p-toolbar>
    <br><br><br>
    <p-table [value]="userList" responsiveLayout="scroll" [globalFilterFields]="['id','nombreUsuario','nombre','apellidoP', 'apellidoM', 'fechaNac', 'email' ,'telCelular', 'telFijo', 'estaus', 'tipo']" #tu>
        <ng-template pTemplate="header">
            <tr>
                <th  field="id" >ID</th>
                <th  field="nombreUsuario">Nombre de Usuario</th>
                <th  field="nombre">Nombre</th>
                <th  field="apellidoP">Apellido Paterno</th>
                <th  field="apellidoM">Apellido Paterno</th>
                <th  field="fechaNac">Fecha de Nacimiento</th>
                <th  field="email">Correo Electronico</th>
                <th  field="telCelular">Telefono Celular</th>
                <th  field="telFijo">Telefono Fijo</th>
                <th  field="tipo">Tipo</th>
                <th  field="estaus">Estatus</th>
                <th>Baja</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.nombreUsuario}}</td>
                <td>{{user.nombre}}</td>
                <td>{{user.apellidoP}}</td>
                <td>{{user.apellidoM}}</td>
                <td>{{user.fechaNac | date: 'dd/MM/yy'}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telCelular}}</td>
                <td>{{user.telFijo}}</td>
                <td>{{user.tipo}}</td>
                <ng-template [ngIf]="noEsAdmin(user.tipo)" [ngIfElse]="otherAdmin">
                    <ng-template [ngIf]="estaActivo(user.status)" [ngIfElse]="other">
                        <td>Activo</td>
                        <td><button pButton pRipple icon="pi pi-user-minus" class="p-button-rounded p-button-danger" (click)="irABajaPersonal(user.id)"></button></td>
                    </ng-template>
                    <ng-template #other>
                        <td>Inactivo</td>
                        <td><button pButton pRipple disabled icon="pi pi-user-minus" class="p-button-rounded p-button-danger"></button></td>
                    </ng-template>
                </ng-template>
                <ng-template #otherAdmin>
                    <td>Activo</td>
                    <td></td>
                </ng-template>
            </tr>
        </ng-template>
    </p-table>
</div>