<!--<h4>Cancelar Cita</h4>-->

<p-toast></p-toast>

<div class="card">
    <p-fieldset legend="Cancelar Cita">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;">¡Atención! Estas a punto de cancelar la siguiente cita</h6>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Id cita:</strong>
                <p>{{ cita.id }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de registro:</strong>
                <p>{{ cita.fechaRegistro }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Nombre del paciente:</strong>
                <p>{{ cita.nombrePaciente }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de atención:</strong>
                <p>{{ cita.fechaAtencion }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Hora de atencion:</strong>
                <p>{{ cita.horaAtencion }}</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Medico:</strong>
                <p>{{ medico.nombre }} {{ medico.apellidoP }} {{ medico.apellidoM }}</p>
            </div>
            <br>
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;"> Esta acción es irreversible</h6>
                <p style="color: black;">Si está seguro presione aceptar</p>
            </div>

            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Aceptar" (click)="cancelarCita()" class="p-button-success mt-4"></button>
            </div>
            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Cancelar" (click)="redireccionaMenu()" class="p-button-danger mt-4"></button>
            </div>
        </div>
       

    </p-fieldset>

</div>