<h4>Cancelar Cita</h4>

<p-toast></p-toast>

<div class="card">
    <p-fieldset legend="header">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;">¡Atención! Estas a punto de cancelar la siguiente cita</h6>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Id cita:</strong>
                <p>1</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de registro:</strong>
                <p>15/04/22</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Nombre del paciente:</strong>
                <p>Adolfo</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Fecha de atención:</strong>
                <p>15/04/22</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Hora de atencion:</strong>
                <p>10:00 AM</p>
            </div>
            <div class="field col-4 md:col-4 text-center">
                <strong>Medico:</strong>
                <p>xD</p>
            </div>
            <br>
            <div class="field col-12 md:col-12 text-center">
                <h6 style="color: red;"> Esta acción es irreversible</h6>
                <p style="color: black;">Si está seguro presione aceptar</p>
            </div>

            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Aceptar"  class="p-button-success mt-4"></button>
            </div>
            <div class="field col-6 md:col-6">
                <button pButton pRipple type="button" label="Cancelar"  class="p-button-danger mt-4"></button>
            </div>
        </div>
       

    </p-fieldset>

</div>